<div class="container mt-3">
    <div class="text-center">
        <h2>{{title}}</h2>
    </div>

    <div class="row">
        <div class="col">
            <lib-flowchart #chart [settings]="customSettings"></lib-flowchart>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-12 text-center">
            <button class="btn btn-primary mr-3" (click)="this.saveState()">Guardar estado</button>
            <button class="btn btn-secondary" (click)="this.revertState()">Revertir estado</button>
            <button *ngIf="graphJSON !== null" class="btn btn-info ml-3" (click)="this.onClickViewJSON()">
                {{buttonJSON}}
            </button>
        </div>
        <div class="col-12" id="jsonDiv" *ngIf="viewJSON">
            <div class="card card-body bg-light mt-4 mb-4">
                <code>{{graphJSON}}</code>
            </div>
        </div>
    </div>
</div>